body {
    background-color: #fff;
    min-height: 100vh;
    text-rendering: optimizeLegibility;
  }
  
  @media only screen and (min-width: 200px) {
    body {
      display: flex;
      flex-direction: column;
    }
  }
  
  article:before {
    content: '';
    display: table;
  }
  
  article:after {
    clear: both;
    content: '';
    display: table;
  }
  
  article > :first-child {
    margin-top: 0;
  }
  
  article > :last-child {
    margin-bottom: 0;
  }
  
  /* Links */
  .anchor {
    display: block;
    position: relative;
    top: -80px;
  }
  
  .hash-link {
    line-height: 1;
    margin-left: -20px;
    opacity: 0;
    padding-right: 4px;
    transition: opacity 0.3s;
  }
  
  .hash-link:hover {
    opacity: 1 !important;
    transition: none;
  }
  
  .hash-link .hash-link-icon {
    vertical-align: middle;
  }
  
  /* Buttons */
  .button {
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
    padding: 10px;
    text-decoration: none !important;
    text-transform: uppercase;
  }
  
  .button:hover {
    color: #fff;
  }
  
  /* Headers */
  h1:hover .hash-link,
  h2:hover .hash-link,
  h3:hover .hash-link,
  h4:hover .hash-link {
    opacity: 0.5;
    transition: none;
  }
  
  /* Blockquotes */
  blockquote {
    background-color: #adc5e2;
    border-left: 8px solid #30065d;
    padding: 15px 30px 15px 15px;

    color: #24292e;
    font-size: 16px;
    margin: 0;
    margin-bottom: 16px;
  }
  
  /* Utils */
  .wrapper {
    margin: 0px auto;
    max-width: 1400px;
    padding: 0 20px;
  }
  
  .wrapper blockquote > p:first-child {
    padding-top: 0;
  }
  
  .center {
    display: block;
    text-align: center;
  }