.docs-prevnext {
    margin: 20px 0;
  }
  
  .docs-prevnext:after {
    clear: both;
    content: ' ';
    display: table; /* clearfix */
  }
  
  .docs-next {
    float: right;
  }
  
  .docs-prev {
    float: left;
  }
  
  @media only screen and (max-width: 735px) {
    .docs-next {
      clear: both;
      float: left;
      margin: 10px 0;
    }
  
    .docs-prev {
      margin: 10px 0;
    }
  
    .arrow-next {
      float: right;
      margin-left: 10px;
    }
  
    .arrow-prev {
      float: left;
      margin-right: 10px;
    }
  
    .function-name-prevnext {
      width: 200px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }