.more-users {
    margin: 0 auto;
    max-width: 560px;
    text-align: center;
  }
  
  .productShowcaseSection {
    padding: 0 20px 0;
    text-align: center;
  }
  
  .productShowcaseSection.paddingTop {
    padding-top: 20px;
  }
  
  .productShowcaseSection.paddingBottom {
    padding-bottom: 10px;
  }
  
  .productShowcaseSection h2 {
    font-size: 30px;
    line-height: 1em;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
  }
  
  .productShowcaseSection p {
    margin: 0 auto;
    max-width: 560px;
    padding: 0.8em 0;
  }
  
  .productShowcaseSection .logos {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .productShowcaseSection .logos img {
    max-height: 110px;
    padding: 20px;
    width: 110px;
  }
  
  @media only screen and (max-width: 735px) {
    .productShowcaseSection .logos img {
      max-height: 64px;
      padding: 20px;
      width: 64px;
    }
  }