.promoSection {
    display: flex;
    flex-flow: column wrap;
    font-size: 125%;
    line-height: 1.6em;
    position: relative;
    z-index: 99;
  }
  
  .promoSection .promoRow {
    padding: 10px 0;
  }
  
  .promoSection .promoRow .pluginWrapper {
    display: block;
  }
  
  .promoSection .promoRow .pluginWrapper.ghWatchWrapper,
  .promoSection .promoRow .pluginWrapper.ghStarWrapper {
    height: 28px;
  }
  
  .promoSection .promoRow .pluginRowBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -2px;
  }
  
  .promoSection .promoRow .pluginRowBlock .pluginWrapper {
    padding: 0 2px;
  }
  
  .promoSection .promoRow .pluginRowBlock iframe {
    margin-left: 2px;
    margin-top: 5px;
  }