:root{
  --ifm-color-primary-lightest: #110E2A;
  --ifm-color-primary-lighter: #0F0D25;
  --ifm-color-primary-light: #0E0C23;
  --ifm-color-primary: #0d0b20;
  --ifm-color-primary-dark: #0C0A1D;
  --ifm-color-primary-darker: #0B091B;
  --ifm-color-primary-darkest: #090816;

  /* custom styles */
  --ifm-navbar-height: 50px;
  --ifm-navbar-background-color: #0d0b20;

  --ifm-navbar-padding-vertical: 8px;
  --ifm-navbar-padding-horizontal: 20px;

  --ifm-navbar-item-padding-vertical: 0;
  --ifm-navbar-item-padding-horizontal: 0;
}

@import url(https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap?text=flowcontroldocumentation);

.navbar__items {
  height: 100%;
}

.navbar__brand {
  flex: 1;
}

.navbar__logo {
  height: 20.4px;
}

.navbar__title {
  font-family: 'Kumbh Sans', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 22px;
  height: 100%;
}

.DocSearch-Button {
  height: 30px !important;
}

blockquote {
  color: #24292e;
  background-color: #adc5e2;
  border-color: #30065d;
}